

#root {
  height: 100vh;
} 

body {
  font-family: 'Roboto', sans-serif;
  
}

.app-container{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.container.main-content {
  flex: 1;
  padding: 20px 0;
 
}