.genre-selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    padding: 20px;
  }

.genre-selection.page > h3 {
  font-size: 2.5rem;
  text-decoration: underline;
}
  
  .genres-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.5rem;
    font-size: 2rem;
  }
  
  .genre-card {
    padding: 2rem 0.7rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s; 
    font-weight: bold;
    font-size: 1.5rem;
    box-sizing: border-box; 
    background-color: #c6cdf1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  .genre-card:hover {
    background-color: #425dff;
  }
  
  .genre-card.selected {
    background-color: #ffb700;
  }


  /*submit button*/
  
  .submit-button {
    padding: 12px 24px;
    font-size: 16px;
    width: 16.4rem;
    background-color: #425dff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #1a2565;
  }
  
  
  