.listingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 oglasa po redu */
  gap: 10px;
  justify-content: center;
}
  


.listing-item.selected {
  border: 2px solid #425DFF; 
  box-shadow: 0 4px 8px rgba(66, 95, 255, 0.3); 
  background-color: rgba(66, 95, 255, 0.1); 
  transform: scale(1.05);
}
