.listingContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 oglasa po redu */
  gap: 10px;
  justify-content: center;
}
  


.listing-item.selected {
 
  border: 5px solid #FFB700; 
  
  background-color:#425DFF;
}
