/*.search-results-list {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #ddd;
    margin-top: 0.5rem;
    width: 50%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
  }
  
  .search-result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .search-result-item:hover {
    background-color: #f0f0f0;
  }
  
  .no-results {
    padding: 10px;
    color: #888;
  }*/

/* General Card Styling */
.card.custom-card {
  background-color: #fbfbe4; /* Custom background color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card.custom-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* Header Text */
.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

/* Performer Section */
.izvodaci h6 {
  font-size: 1.1rem;
  color: #6c757d; /* Grey */
}

.izvodaci p {
  font-size: 0.95rem;
  color: #777;
}

/* Responsive Layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

