.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-color: #f0f0f0 ; 
    border: 2px solid #ddd;
    color:hsl(0, 0%, 30%);
    border-radius: 10px; 
    box-shadow: 0 8px 16px 0 hsl(0, 0%, 80%), 0 12px 40px 0 hsl(0, 0%, 80%);
  }
  
  .google-auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    color:hsl(0, 0%, 30%);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .google-auth-button:hover {
    background-color: hsl(0, 0%, 30%); ;
    color: #fbfbe4 ;
    transform: scale(1.05);
  }
  