.oglas-container {
    padding-top: 1px;
    margin-bottom: 15px;
    background-color: #C6CDF1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding-bottom:10px;
}
.outer-container{
    width: 65vw;
    margin-top: 40px;
    margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

.ulaznica-row {
    margin-bottom: 10px;


}

.arrow {
    text-align: center;
    font-size: 44px;
}

.status-section {
    margin-bottom: 10px;
    font-style: italic;
}

.button-section {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
}


/*
.edit-button {
    background-color: #ffcc00;
    color: #333;
} */

.delete-button {
   /* background-color: #DB0000; */
   background-color: #C6CDF1;
    color: #DB0000;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
}

.delete-button:hover {
  /* background-color: #DB0000; */
  background-color: #C6CDF1;
}

.view-button {
  /*  background-color: #425DFF; */
  background-color: #C6CDF1;
    color: #425DFF;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
}


.view-button:hover {
  /* background-color: #DB0000; */
  background-color: #C6CDF1;
}

.accept-button {
    /*  background-color: #425DFF; */
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    color: #308614;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
  }

  .accept-button:hover {
    /* background-color: #DB0000; */
    background-color: white;
  }

  .reject-button {
    /*  background-color: #425DFF; */
    background-color: white;
    border: 2px solid black;
    border-radius: 12px;
    color: #920909;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
  }

  .reject-button:hover {
    /* background-color: #DB0000; */
    background-color: white;
  }

  .ponuda{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #425DFF;
  }

  .button-column{
    display: flex;
    flex-direction: column;
    align-items: center;
  }