.oglas-container {
  padding-top: 1px;
  margin-bottom: 15px;
  background-color: #C6CDF1;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  border-radius: 8px;
}

.outer-container{
  width: 65vw;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

.ulaznica-row {
  margin-bottom: 10px;
}

.arrow {
  text-align: center;
  font-size: 44px;
}

.status-section {
  margin-bottom: 10px;
  font-style: italic;
}

.button-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 24px;
}

.view-button {
  color: #425DFF;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: none;
  gap: 5px;
}

.view-button:hover {
  background-color: #425DFF;
  color: white;
}

.delete-button {
  color: red;
  text-decoration: underline;
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  background: none;
  gap: 5px;
}

.delete-button:hover {
  background-color: red;
  color: white;
}

.accept-button {
  background-color: white;
  border: 1px solid #308614;
  border-radius: 8px;
  color: #308614;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px;
  transition: background-color .3s ease,color .3s ease;
}

.accept-button:hover {
  background-color: #308614;
  color: white;
}

.reject-button {
  background-color: white;
  border: 1px solid #920909;
  border-radius: 8px;
  color: #920909;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background-color .3s ease,color .3s ease;
}

.reject-button:hover {
  background-color: #920909;
  color: white;
}

.ponuda{
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #425DFF;
}

.button-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smece-container {
  background-color: rgba(128, 128, 128, 0.4); /* Siva pozadina sa 40% providnosti */
  position: relative;
  overflow: hidden; /* Sprečava preljevanje sadržaja */
}

.smece-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Tamni sloj sa 50% providnosti */
  z-index: 1; /* Podiže sloj iznad sadržaja */
}

.smece-content {
  position: relative;
  z-index: 2; /* Održava sadržaj iznad pozadine */
  opacity: 0.6; /* Dodatno posivi sadržaj */
}
